body {
    font-family: 'Open Sans', sans-serif !important;
}

.table {
  border: 1px solid #d9d9d9 !important;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #054a71;
    margin: 0;
    padding: 0;
}

h1, h4 {
  text-align: center;
}

.navbar-custom img
{
    max-height: 100%;
}
